<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= profile.last_name %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= profile.birthday %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= profile.gender %>
  </p>

</div>
